@model Anketa_Proekt.Models.Anketa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anketa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prasanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prasanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kraen_datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kraen_datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum_kreiranje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_kreiranje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.multi_choice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.multi_choice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Louse.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Louse.ime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
