@model Anketa_Proekt.Models.Anketa

@{
    ViewBag.Title = "Details";
}

<head>

    <link href="~/myCSS/questionaire.css" rel="stylesheet" />

</head>

<!-- content of the page start here -->
<div class="container-flyid">
    <div class="content">

        <div class="title">
            <!-- title start here -->
            <div class="container">
                <!-- wrap image and title -->
                <img class="img-responsive titleImage" src="~/img/backgroundTransparentSmall.png" />
                <h1 class="text-center titleText">Detailed preview</h1>
            </div>
        </div>  <!-- class title end here -->
    </div>  <!-- class content end here -->
</div>  <!-- class container-flyid end here -->




<div class="questionnaire">
    <div class="container-flyid">
        <div class="questionnaireEven">
            <div class="container">
                <div class="row">
                    <!-- questionarie title row start here -->
                    <h1>
                        @Html.DisplayFor(model => model.prasanje)

                        @{
        HashSet<Anketa_Proekt.Models.Kategorija> kategorii = (HashSet<Anketa_Proekt.Models.Kategorija>) Model.Kategorijas;

        <small>
            @foreach (Anketa_Proekt.Models.Kategorija k in kategorii)
            {
                string ime_k = k.ime_k;
                <a class="badge" href="#">@ime_k</a>
            }
        </small>
                        }
                    </h1>
                </div>  <!-- questionnaire title row end here -->

                <div class="row">
                    <!-- questionnaire content row start here-->
                    <div class="col-sm-6">
                        <h4>@Html.DisplayFor(model => model.opis_a):</h4>
                        <img class="img-responsive imageQuestionnaireDescription" src="http://placehold.it/350x150">
                        <p class="questionnaireDescriptionParagraph">@Html.DisplayFor(model => model.opis_a)</p>
                    </div>  <!-- class col-sm-6 (left side) end here -->
                    <div class="col-sm-6">
                        <h4>Answer the questionnaire:</h4>

                        @{
            int multi_choice = (Model.multi_choice);

            HashSet<Anketa_Proekt.Models.Mozni_Odgovori> odgovori = (HashSet<Anketa_Proekt.Models.Mozni_Odgovori>)Model.Mozni_Odgovori;

            string radioOrChechBox = "";
            string multiAnsewrs = "";

            string disabled = "";

            if (Session["id_lice"] == null)
            {
                disabled = "disabled";
            }

            if (multi_choice == 1)
            {
                radioOrChechBox = "checkbox";

                multiAnsewrs = "Multiple answers available";
            }
            else
            {
                radioOrChechBox = "radio";

                multiAnsewrs = "Single answer only available";
            }
                        }

                        <div class="well">
                            <div class="row">
                                <ul class="list-unstyled">
                                    @foreach (Anketa_Proekt.Models.Mozni_Odgovori o in odgovori)
                                    {
                                        <li> <input type="@radioOrChechBox" name="grupa" value="@o.id_odg">@o.ime_odg</li>
                                    }

                                </ul>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-success @disabled"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                            </div>
                        </div>

                        <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> @multiAnsewrs</div>

                    </div>  <!-- class col-sm-6 (right side) end here -->
                </div>  <!-- Questionnaire content row end here -->

                <div class="charts">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h6 class=panel-title>Many Pie Charts here <span class="pull-right">X</span></h6>
                            </div>
                            <div class="panel-body">
                                <h5>each Pie represent one answer</h5>
                                <h5>The amount of fulfilnes of a pie represent the amount of votes</h5>
                                <img class="img img-responsive" src="~/img/WB0PHMG9K.png" />
                            </div>
                            <div class="panel-footer">Some description of the data???? Hints maby? or date?</div>
                        </div>
                    </div>  <!-- first row of chart end here -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h6 class=panel-title>Graph here <span class="pull-right">X</span></h6>
                                </div>
                                <div class="panel-body">
                                    <h5>Graphical representation of voting activity</h5>
                                    <h5> X axis represent time</h5>
                                    <h5>Y axis represent votes</h5>
                                    <img class="img img-responsive" src="~/img/WB0PHMG9K.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Coments here</h4>
                                
                                <div class="detailBox">
                                    <div class="titleBox">
                                        <label>Comment Box</label>
                                        <button type="button" class="close" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="actionBox">
                                        <ul class="commentList">

                                            @{
                                                List<Anketa_Proekt.Models.Komentar_Za> komentari =  Model.Komentar_Za.ToList();
                                                
                                                foreach (Anketa_Proekt.Models.Komentar_Za k in komentari)
                                                {
                                                    Anketa_Proekt.Models.Komentar kom = k.Komentar;
                                                    
                                                    string datumStr = k.datum.ToString("MMMM d, yyyy");
                                                    
                                                    <li>
                                                        <div class="commenterImage">
                                                            <img src="http://lorempixel.com/50/50/people/6" />
                                                        </div>
                                                        <div class="commentText">
                                                            <p class="">@kom.sodrzina</p> <span class="date sub-text">on @datumStr</span>
                                                        </div>
                                                    </li>
                                                } 
                                            }
                                        </ul>
                                        <form class="form-inline" role="form">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Your comments" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-default">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>  <!-- class container end here -->
    </div>  <!-- class qustioonaireEven end here -->

    }

    </div>  <!-- class container flyid end here -->
</div>  <!-- class questionnaire end here -->
<!-- Questionnaires end here -->