@model Anketa_Proekt.Models.Anketa

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anketa</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id_anketa)

        <div class="form-group">
            @Html.LabelFor(model => model.prasanje, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prasanje)
                @Html.ValidationMessageFor(model => model.prasanje)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opis_a, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opis_a)
                @Html.ValidationMessageFor(model => model.opis_a)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kraen_datum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kraen_datum)
                @Html.ValidationMessageFor(model => model.kraen_datum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_lice, "id_lice", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_lice", String.Empty)
                @Html.ValidationMessageFor(model => model.id_lice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datum_kreiranje, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datum_kreiranje)
                @Html.ValidationMessageFor(model => model.datum_kreiranje)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.multi_choice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.multi_choice)
                @Html.ValidationMessageFor(model => model.multi_choice)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
