@model IEnumerable<Anketa_Proekt.Models.Anketa>

@{
    ViewBag.Title = "Index";
}

<!-- content of the page start here -->
<div class="container-flyid">
    <div class="content">

        <div class="title">
            <!-- title start here -->
            <div class="container">
                <!-- wrap image and title -->
                <img class="img-responsive titleImage" src="~/img/backgroundTransparentSmall.png" />
                <h1 class="text-center titleText">Most recet questionaries:</h1>
            </div>
        </div>  <!-- class title end here -->
    </div>  <!-- class content end here -->
</div>  <!-- class container-flyid end here -->

<div class="questionnaire">
        <div class="container-flyid">

            @{
                int br = 1;
                foreach (var item in Model)
                {
                    br++;
                    string evenOrOdd = "";
                    string disabeled = "";

                    if (Session["id_lice"] == null)
                    {
                        disabeled = "disabled";
                    }
                    
                    if (br % 2 == 0)
                    {
                        evenOrOdd = "questionnaireEven";    
                    }
                    else
                    {
                        evenOrOdd = "questionnaireOdd";
                    }

                    <div class="@evenOrOdd">
                            <div class="container">
                                <div class="row">
                                    <!-- questionarie title row start here -->
                                    <h1>
                                        @Html.DisplayFor(modelItem => item.prasanje)
                                        
                                        @{
                                            HashSet<Anketa_Proekt.Models.Kategorija> kategorii = (HashSet<Anketa_Proekt.Models.Kategorija>)item.Kategorijas;

                                            <small>
                                            @foreach (Anketa_Proekt.Models.Kategorija k in kategorii)
                                            {
                                                string ime_k = k.ime_k;
                                                <a class="badge" href="#">@ime_k</a>
                                            }
                                            </small>
                                        }
                                    </h1>
                                </div>  <!-- questionnaire title row end here -->

                                <div class="row">
                                    <!-- questionnaire content row start here-->
                                    <div class="col-sm-6">
                                        <h4>@Html.DisplayFor(modelItem => item.opis_a):</h4>
                                        <img class="img-responsive imageQuestionnaireDescription" src="http://placehold.it/350x150">
                                        <p class="questionnaireDescriptionParagraph">@Html.DisplayFor(modelItem => item.opis_a)</p>
                                    </div>  <!-- class col-sm-6 (left side) end here -->
                                    <div class="col-sm-6">
                                        <h4>Answer the questionnaire:</h4>
                                        
                                        @{
                                        int multi_choice = (item.multi_choice);

                                        HashSet<Anketa_Proekt.Models.Mozni_Odgovori> odgovori = (HashSet<Anketa_Proekt.Models.Mozni_Odgovori>)item.Mozni_Odgovori;
                                        
                                        string radioOrChechBox = "";
                                        string multiAnsewrs = "";
                                        
                                        if (multi_choice == 1)
                                        {
                                            radioOrChechBox = "checkbox";

                                            multiAnsewrs = "Multiple answers available";
                                        }
                                        else
                                        {
                                            radioOrChechBox = "radio";
                                            
                                            multiAnsewrs = "Single answer only available";
                                        }
                                        }

                                        <div class="well">
                                            <div class="row">
                                                <ul class="list-unstyled">
                                                    @foreach (Anketa_Proekt.Models.Mozni_Odgovori o in odgovori)
                                                    {
                                                        <li> <input type="@radioOrChechBox" name="grupa" value="@o.id_odg">@o.ime_odg</li>
                                                    }

                                                </ul>
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-success @disabeled"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                                            </div>
                                        </div>

                                        <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> @multiAnsewrs</div>

                                    </div>  <!-- class col-sm-6 (right side) end here -->
                                </div>  <!-- Questionnaire content row end here -->

                                <div class="row">
                                    <a href="@Url.Action("Details", "Anketa", new { id = item.id_anketa })">
                                        <button type="button" class="btn btn-info pull-right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> More info</button>
                                    </a>
                                </div>
                            </div>  <!-- class container end here -->
                        </div>  <!-- class qustioonaireEven end here -->
                    
                }
            }

        </div>  <!-- class container flyid end here -->
    </div>  <!-- class questionnaire end here -->
    <!-- Questionnaires end here -->


<!-- pagination start here -->
<!-- pagination is palced in last questionaries -->
<div class="text-center navPagination">
    <nav>
        <ul class="pagination pagination-lg">
            <li>
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> First Page</a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">Last page <span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>
<!-- pagination end here -->