<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- MyCustom CSS file -->
    <link href="~/myCSS/index_v3.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- navbar at login page start here  -->
    <!--  -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">World Wide Vote</a>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search categories, users, questionaries...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div><!-- /input-group -->

            </div>

            @if (Session["id_lice"] != null)
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">

                        <div class="dropdown">
                            <button class="blackButton btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-ok-sign"></span> Questionnaire <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Create Pool</a></li>
                                <li><a href="#">Delete Pool</a></li>
                                <li><a href="#">My Pools</a></li>
                                <li><a href="#">Sort Pools</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="blackButton btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user"></span> My Account <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Check Status</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-success"><span class="glyphicon glyphicon-usd"></span> Buy Premium</button>
                    </form>
                </div>
                    

            }
            else
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="navbar-form navbar-right">

                        <div class="dropdown">
                            <button class="blackButton btn btn-default dropdown-toggle disabled" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-ok-sign"></span> Questionnaire <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Create Pool</a></li>
                                <li><a href="#">Delete Pool</a></li>
                                <li><a href="#">My Pools</a></li>
                                <li><a href="#">Sort Pools</a></li>
                            </ul>
                        </div>


                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Sign Up</button>

                        <a href="@Url.Action("Login", "User", null)">
                            <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Sign In</button>
                            <!-- <button class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-ok"></span> Sign In</button> -->
                        </a>
                    </div>
                </div>
            }
        </div>      <!-- class .navbar-collapse end here -->
        </div>    <!-- class contaienr end here -->
    </nav>  <!-- class navbar end here -->
    <!-- navbar at index page end here  -->

        @RenderBody()
        
    <!-- footer start here -->
    <div class="myfooter">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 12%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
                <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 14%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 14%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
                <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>
                        About WorldWideVote:</h3>
                        <p>World Wide Vote's purpose is to fulfill the daily needs of thorough answers and fast elections.</p>
                        <br>
                        <h4>
                            About us:</h3>
                            <p>We are four students at university studying computer science. Our goal is to provide  simple to use website with responsive UI that suit any device.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 mythumbnail">
                                    <h5>
                                        My Name Here:</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: mymail@domain</h6>
                                            <h6>git: urltogit</h6>
                                        </div>
                                </div>  <!-- end first -->
                                <div class="col-md-3 col-sm-6  col-xs-6 mythumbnail">
                                    <h5>
                                        Other Name here:</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: xyz@xyz</h6>
                                            <h6>git: xyz@git</h6>
                                        </div>
                                </div>  <!-- end second -->
                                <div class="col-md-3 col-sm-6 col-xs-6  mythumbnail">
                                    <h5>
                                        Other Name here</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: xyz@xyz</h6>
                                            <h6>git: xyz@git</h6>
                                        </div>
                                </div>  <!-- end third -->
                                <div class="col-md-3 col-sm-6 col-xs-6  mythumbnail">
                                    <h5>
                                        Other Name here</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: xyz@xyz</h6>
                                            <h6>git: xyz@git</h6>
                                        </div>
                                </div>  <!-- end fourth -->
                            </div>
                </div>
                <div class="col-md-3">
                    <img class="footer-img img-responsive" src="~/img/backgroundTransparentSmall.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- footer end here -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
