<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WW-Vote</title>
    
    <!-- Bootstrap -->
    <!-- <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- MyCustom CSS file -->
    <link href="~/myCSS/index_v3.css" rel="stylesheet" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    
    <!-- <script src="~/Scripts/jquery-1.10.2.js"></script> -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <!-- <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script> dali ova treba? -->

    <link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
</head>

<body>
    <!-- navbar at login page start here  -->
    <!--  -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Anketa")">World Wide Vote</a>
                
                @using (Html.BeginForm("MySearch", "Anketa"))
                {
                <div class="input-group">
                
                    <input type="text" id="txtSearch" name="searchText" class="form-control MtxtSearch" placeholder="Search categories, answers, questionaries...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btnSearch" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    
                </div><!-- /input-group -->
                }
            </div>  <!-- navbar-header -->
            <div id="navbar" class="navbar-collapse collapse">
                
                @if (Session["id_lice"] != null)
                {
                <div class="navbar-form navbar-right">
                    
                    <div class="dropdown">
                        <button class="blackButton btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-ok-sign"></span> Questionnaire <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@Url.Action("Create", "Anketa")">Create Pool</a></li>
                            <li><a href="@Url.Action("MyPool", "Anketa")">My Pools</a></li>
                        </ul>
                    </div>   <!-- dropdown first -->
                    <div class="dropdown">
                        <button class="blackButton btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user"></span> My Account <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@Url.Action("CheckStatus", "User", null)">Check Status</a></li>
                            <li><a href="@Url.Action("LogOut", "User", null)">Log Out</a></li>
                        </ul>
                    </div>      <!-- dropdown second -->

                    <a href="@Url.Action("BuyPremium", "User", null)">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-usd"></span> Buy Premium</button>
                    </a>
                </div>  <!-- class = " navbar-form navbar-tight" -->
                
                }
                else
                {
                    <div class="navbar-form navbar-right">

                    
                    <div class="dropdown">
                        <button class="blackButton btn btn-default dropdown-toggle disabled" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class = "glyphicon glyphicon-ok-sign"></span> Questionnaire <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Create Pool</a></li>
                            <li><a href="#">Delete Pool</a></li>
                            <li><a href="#">My Pools</a></li>
                            <li><a href="#">Sort Pools</a></li>
                        </ul>
                    </div>  <!-- class = "dropdown" -->

                        <a href="@Url.Action("Registration", "User", null)">
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Sign Up</button>
                        </a>
                        <a href="@Url.Action("Login", "User", null)">
                            <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Sign In</button>
                            <!-- <button class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-ok"></span> Sign In</button> -->
                        </a>
                </div> <!-- class = "navbar-form navbar-right" -->
                }
            </div>      <!-- id = navbar -->
            <!-- tuka imase vishok zatvoren div tag -->
        </div>    <!-- class contaienr end here -->
    </nav>  <!-- class navbar navbar-inverse navbar-fixed-top end here -->
    <!-- navbar at index page end here  -->

    <div class="progress progres-top">
        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 12%">
            <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
            <span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
            <span class="sr-only">10% Complete (danger)</span>
        </div>
        <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 14%">
            <span class="sr-only">10% Complete (danger)</span>
        </div>
        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 14%">
            <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
            <span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
            <span class="sr-only">10% Complete (danger)</span>
        </div>
        <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 12%">
            <span class="sr-only">10% Complete (danger)</span>
        </div>
    </div>

        @RenderBody()
        
    <!-- footer start here -->
    <div class="myfooter">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 12%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
                <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 14%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 14%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 12%">
                <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 12%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>
                        About WorldWideVote:</h3>
                        <p>World Wide Vote's purpose is to fulfill the daily needs of thorough answers and fast elections.</p>
                        <br>
                        <h4>
                            About us:</h3>
                            <p>We are four students at university studying computer science. Our goal is to provide  simple to use website with responsive UI that suit any device.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 mythumbnail">
                                    <h5>
                                        Borche Jankovski</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://i.imgur.com/KEKxSKV.jpg" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: borche.jankovski@finki.ukim.mk</h6>
                                            <h6>git: <a href="https://github.com/bokiscout">https://github.com/bokiscout</a></h6>
                                        </div>
                                </div>  <!-- end first -->
                                <div class="col-md-3 col-sm-6  col-xs-6 mythumbnail">
                                    <h5>
                                        Slavko Kazakov</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://i.imgur.com/S0BsWIK.jpg" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: slavce.kazakov@gmail.com</h6>
                                            <h6>git: <a href="https://github.com/skazakov93/">https://github.com/skazakov93/</a></h6>
                                        </div>
                                </div>  <!-- end second -->
                                <div class="col-md-3 col-sm-6 col-xs-6  mythumbnail">
                                    <h5>
                                        Riste Grbev</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: </h6>
                                            <h6>git: </h6>
                                        </div>
                                </div>  <!-- end third -->
                                <div class="col-md-3 col-sm-6 col-xs-6  mythumbnail">
                                    <h5>
                                        Jose Sirkarov</h3>
                                        <div class="col-sm-4">
                                            <img class="img-circle img-responsive" src="http://placehold.it/110x110">
                                        </div>
                                        <div class="col-sm-8">
                                            <h6>Email: </h6>
                                            <h6>git: </h6>
                                        </div>
                                </div>  <!-- end fourth -->
                            </div>
                </div>
                <div class="col-md-3">
                    <img class="footer-img img-responsive" src="http://i.imgur.com/HYtxRj8.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- footer end here -->

   
    @Styles.Render("~/Content/themes/base/css")

    
    @Scripts.Render("~/bundles/bootstrap")

    
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)

</body>
</html>

<script>
    $(document).ready(function () {
        $("#txtSearch").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    url: "/Anketa/MyAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item + " myItem");

                            return { value: item, label: item };
                        }));
                    },
                    error: function (error) {
                        //alert('oooo: ' + error);
                    }
                })
            },
            minLength: 2
        });
    })
</script>

<script>
    $('#btnSearch').click(function () {
        var text = $('#txtSearch').val();

        $.ajax({
            url: '/Anketa/MySearch',
            type: "POST",
            data: "searchText=" + text,
            dataType: "json",
            success: function (data) {
                console.log(data.prasanje);

                //location.reload();
            },
            error: function () {
                console.log("OK-");

                //location.reload();
            }
        });
    })
</script>